[submodule "Packs/App"]
	path = Packs/App
	url = https://gitee.com/lool-packages/App.git
[submodule "Packs/Console"]
	path = Packs/Console
	url = https://gitee.com/lool-packages/Console.git
[submodule "Packs/System"]
	path = Packs/System
	url = https://gitee.com/lool-packages/System.git
[submodule "Packs/Https"]
	path = Packs/Https
	url = https://gitee.com/lool-packages/Https.git
